MAESTRO_API_KEY="testtesttest"
BLOCKFROST_PROJECT_ID="testtesttest"
NETWORK="preview"

POSTGRES_CONTAINER_NAME=paideia_postgres
POSTGRES_VOLUME_NAME=paideia_postgres_data
POSTGRES_USER=paideia_user
POSTGRES_PASSWORD=testtesttest
POSTGRES_DB=paideia_postgres_db
POSTGRES_PORT=5469
DATABASE_URL="postgresql://paideia_user:testtesttest@localhost:5469/paideia_postgres_db"